Language: Cpp
BasedOnStyle: Google
ColumnLimit: 0  # Нет ограничения на ширину строки
AllowShortBlocksOnASingleLine: true  # Короткие блоки на одной строке
AllowShortCaseLabelsOnASingleLine: true  # Короткие метки case на одной строке
AllowShortIfStatementsOnASingleLine: true  # Короткие if на одной строке
AllowShortLoopsOnASingleLine: true  # Короткие циклы на одной строке
AlignAfterOpenBracket: true  # Выравнивание после открывающей скобки
BreakBeforeBraces: Attach  # Использование стиля Attach для фигурных скобок
BinPackParameters: false     # Не упаковывать параметры в одной строке
AllowShortEnumsOnASingleLine: false  # Не сжимать короткие перечисления в одну строку